@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
.tulishana img{
    width : 100%;
}
.col-md-3{
padding-right: 0px;
padding-left: 0px;
}
.helo{
background-color: #CCC6C6;
height: 306px;
line-height: 206px;
font-family: 'Muli', sans-serif;
text-align:center;
font-size: 48pt;
padding-top: 50px;
}
.you{
background-color: #EFEEEC;
height: 306px;
line-height: 50px;
font-family: 'Muli', sans-serif;
font-size: 25pt;
padding-left: 350px;
padding-top: 0px;
}
.about{
background-color: #F9DCD6;
height: 306px;
line-height: 50px;
font-family: 'Muli', sans-serif;
text-align: center;
font-size: 25pt;
padding-left: 300px;
padding-top: 190px;

}
.an{
background-color: #E4C7B5;
height: 306px;
line-height: 50px;
font-family: 'Muli', sans-serif;
font-size: 25pt;
padding-left: 200px;
padding-top: 0px;
text-align: right;
}
.photo{
margin-left: 0px;
}
.resume{
background-color: #F6F6F6;
height: 420px;
line-height: 50px;
font-family: 'Muli', sans-serif;
text-align: center;
font-size: 25pt;
padding-top: 150px;

}
.rec{
background-color: #CDC7C7;
height: 420px;
}

.prof img{
    width : 100%;
}

.desc{
text-align: center;
font-family: 'Muli', sans-serif;
font-size: 25pt;
}

.quote{
background-color: #F9DCD6;
text-align: center;
font-family: 'Muli', sans-serif;
font-size: 35pt;
font-weight: bold;
line-height: 50px;
height: 170px;
padding-top: 50px;
}

.vince{
background-color: #F9DCD6;
text-align: center;
font-family: 'Muli', sans-serif;
font-size: 18pt;
line-height: 70x;
height: 100px;
padding-top: 30px;
}

.blank{
background-color: #FFFFFF;
height: 100px;
}

.edu img{
width : 100%;
}

.contact img{
width : 100%;
}

.education{
font-family: 'Muli', sans-serif;
font-size: 20pt;
}

.study img{
width:340px;
padding-left: 150px;
padding-top: 300px;
}

.experience{
font-family: 'Muli', sans-serif;
font-size: 20pt;
}

.expc img{
width:340px;
padding-right: 150px;
padding-top: 300px;
}

.mail img{
width:200px;
padding-left: 100px;
padding-top: 0px;
}

.email{
font-family: 'Muli', sans-serif;
font-size: 25pt;
margin-left: -200px;
padding-top: 20px;
}

.wa img{
width:200px;
padding-left: 100px;
padding-top: 0px;
}

.whatsapp{
font-family: 'Muli', sans-serif;
font-size: 25pt;
margin-left: -200px;
padding-top: 20px;
}

.link img{
width:200px;
padding-left: 100px;
padding-top: 0px;
}

.linkedin{
font-family: 'Muli', sans-serif;
font-size: 25pt;
margin-left: -200px;
padding-top: 20px;
}

.insta img{
width:200px;
padding-left: 100px;
padding-top: 0px;
}

.instagram{
font-family: 'Muli', sans-serif;
font-size: 25pt;
margin-left: -200px;
padding-top: 20px;
}

.one{
background-color: #E4C7B5;
height: 100px;
}

.two{
background-color: #EFEEEC;
height: 100px;
}

.three{
background-color: #CDC7C7;
height: 100px;
}

.four{
background-color: #E4C7B5;
height: 100px;
}

.comit img{
width: 100vw;
}

.komite{
font-family: 'Muli', sans-serif;
font-size: 20pt;
margin-left:20px;
text-align:center;
}

.navbar-center{
position: absolute;
left: 50%;
transform: translatex(-50%);
margin-top: 15px;
}

.navbar-nav li {
margin: 5px 100px;
}

.seemore {
margin-top: -60px;
}

.navbar-center1{
position: absolute;
left: 50%;
transform: translatex(-50%);
margin-top: 15px;
z-index: 1000;
}